.left {
  text-align: center;
  width: 250px;
  height: 600px;
  background-color: #ff4500;
  
  border: 2px tomato;
  margin-left: 10px;
  padding: 5px;
  margin-top: 5px;
  
}
.search{
  margin-left: 300px;
  border-radius: 15px;
  transform: translateY(-200%);
  width: 600px;
  position: absolute;
}
.left button{
   cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  background-color: orangered;
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.left button:hover{
  height: 60px;
  width: 249px;
  background-color:wheat;
  color:rgb(255, 255, 255);
}

.img{
  width: 30px;
  height: 30px;
  margin-left: 560px;
transform: translateY(-90%);
}
.to{
  margin-left: 480px;
  transform: translateY(5px);
  width: 30px;
  height: 30px;
}
.im{
  margin-left: 290px;
  width: 600px;
  height: 300px;
}
.type{
  width: 200px;
  border: 1px solid;
  color: #ee5d0a;
  margin-left: 290px;
  transform: translateY(10px);
  outline: none;
  text-decoration: none;
  list-style: none;
  border: 1px black;
}
.ii{
  width: 280px;
  height: 700px;
  margin-left: 960px;
  transform: translateY(-650px);
  
  
  

}
.oo{
  width:350px;
  height:250px;
  margin-left: 550px;
  transform: translateY(-30px);
 
}
.text{
  margin-left: 300px;
  transform: translateY(40%);
  outline: none;
  
  width: 200px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
